<% if ENV["GA_PROPERTY_ID"] %>
  <!-- Google Analytics -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '<%= ENV["GA_PROPERTY_ID"] %>', 'auto');
  ga('send', 'pageview');
  </script>
  <!-- End Google Analytics -->
<% end %>

<div class="container" style="max-width: 600px;">

  <% unless @message %>
    <h2 style="text-align: center;">Strong TestFlight</h2>
    <p>Thanks for your interest in joining the Strong for iOS TestFlight program.</p>
    <p>TestFlight allows you to run builds of Strong before we release them to the App Store. We’re confident about the stability of these builds, and we won’t test anything which could affect your saved data (routines, workout history, etc.). However, we do make mistakes, and in the worst case you might be unable to complete a workout and need to go to the App Store, and re-download that version.</p>

    <h3>Unfortunately, we can’t accept new sign ups at the moment.</h3>

<% =begin %>
    <p>If you’re okay with that, we’ll need a few details from you:</p>

    <div style="margin-bottom: 30px"></div>

    <%= form_tag("submit", method: "post", style: "max-width: 400px; margin: 0 auto;", onsubmit: "didSubmit()") do %>
      <%= label_tag(:first_name, t(:first_name_label)) %>
      <%= text_field_tag :first_name, '', class: "form-control", placeholder: t(:first_name_placeholder) %><br />
      <%= label_tag(:last_name, t(:last_name_label)) %>
      <%= text_field_tag :last_name, '', class: "form-control", placeholder: t(:last_name_placeholder) %><br />
      <%= label_tag(:email, t(:email_label), class: "required") %>
      <p>We recommend you use your Apple ID here, otherwise you may get duplicate emails from TestFlight.</p>
      <%= email_field_tag :email, '', class: "form-control", placeholder: t(:email_placeholder) %><br />

      <% if ENV["ITC_TOKEN"] %>
        <% if params[:token] %>
          <%= hidden_field_tag :token, '', value: params[:token] %>
        <% else %>
          <%= label_tag(:token, t(:password_label)) %>
          <%= password_field_tag :token, '', class: "form-control", placeholder: t(:password_placeholder) %><br />
        <% end %>
      <% end %>

      <br />
      <%= submit_tag t(:get_beta_access), class: 'btn btn-lg btn-primary btn-block', id: "submit" %>
    <% end %>
<% =end %>



  <% else %>
    <p class="alert alert-<%= @type %>">
      <%= @message %>
    </p>
  <% end %>

</div>

<script type="text/javascript">
  function didSubmit() {
    $("#submit").val("<%= t(:loading) %>...")
    $("#submit").prop('disabled', true)
  }
</script>

<style type="text/css">
  #submit {
    margin-bottom: 20px;
  }
  @media screen and (min-width: 800px) {
    .footer {
      position: absolute;
      bottom: 10px;
      right: 25px;
    }
  }
</style>
